@use '../variables.scss' as var;
@use '../components/button.scss' as btn;
@use '../placeholder/list.scss';

@mixin SnPagination() {
    .#{var.$classPrefix}Pagination {
        margin-top: .5rem;
        margin-bottom: .5rem;
        display: flex;
        flex-wrap: wrap;
        @extend %SnList;

        &-link {
            @include btn.SnBtnStnd();
            @include btn.SnBtnStndStates;

            margin-right: 4px;
            margin-bottom: 6px;
        }

        &-item {
            &.disabled {
                .SnPagination-link {
                    opacity: 0.6;
                    box-shadow: none;
                    pointer-events: none;
                    cursor: auto;
                }
            }

            &.active {
                .SnPagination-link {
                    --btn-color: var(--color1-i);
                    --btn-background-color: var(--color1-6);
                    --btn-border-color: var(--color1-6);

                    --btn-hover-background-color: var(--color1-5);
                    --btn-hover-border-color: var(--color1-5);
                    --btn-hover-color: var(--color1-i);

                    --btn-focus-background-color: var(--color1-6);
                    --btn-focus-border-color: var(--color1-6);
                    --btn-focus-color: var(--color1-i);

                    --btn-loading-border-color: var(--color1-i);
                    --btn-focus-shadow: var(--control-focus-shadow-primary);
                }
            }
        }
    }
}
