@use '../variables.scss' as var;

@mixin SnTag {
    .#{var.$classPrefix}Tag {
        font-size: 0.8rem;
        line-height: 1rem;
        height: auto;
        padding: 0 0.3rem;
        display: inline-block;
        border-radius: 0.2em;

        &.primary {
            background: var(--color1-6);
            color: var(--color1-i);
        }

        &.success {
            background: var(--green-6);
            color: var(--green-i);
        }

        &.warning {
            background: var(--yellow-6);
            color: var(--yellow-i);
        }

        &.danger {
            background: var(--red-6);
            color: var(--red-i);
        }
    }
}