footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter").SnContainer
  p= libraryName + ' '
    | is a Sass / Css library for creating responsive and mobile first web designs
    a(href="https://github.com/paulantezana/Sedna" target="_blank") Github.
  .FooterSocial
    .SnContainer
      ul.SnList
        li: a.icon-facebook(href="https://www.facebook.com/Paulantezana-764145183607069" target="_blanck") Facebook
        li: a.icon-twitter(href="https://twitter.com/paulantezana" target="_blanck") Twitter
        li: a.icon-youtube(href="https://www.youtube.com/channel/UCRuuk4yR_2a8dSTquSP_dFA" target="_blanck") YouTube
  p
    a(href="https://paulantezana.com" target="_blank" title="paulantezana")= `Paul Antezana `
    span= `2019 - ${new Date().getFullYear()}`