footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter").SnContainer
  //- p Sedna es una librería Sass/Css para crear diseños web responsive y mobile first 
  //-   a(href="https://github.com/paulantezana/Sedna" target="_blank") Github.
  .FooterSocial
    .SnContainer
      ul.SnList
        li: a.icon-facebook(href="http://") Facebook
        li: a.icon-twitter(href="http://") Twitter
        li: a.icon-youtube(href="http://") YouTube
  p
    a(href="https://paulantezana.com" target="_blank" title="paulantezana")= `Paul Antezana `
    span= `2019 - ${new Date().getFullYear()}`