header(itemscope itemtype="http://schema.org/WPHeader").Header.SnContainer
  .Header-left
    .Branding(itemscope itemtype="http://schema.org/Organization")
      a(href="/" itemprop="url").Branding-link
        img(alt="Logotipo de Sedna" itemprop="logo" src="/images/logo.png").Branding-logo
  .Header-right
    .Header-nav
      include mainMenu