-
  let menu = {
    'Documentación': '/documentation/starter.html',
    'Ejemplos': '/examples',
  };

#SiteMenu-toggle.icon-menu
nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation").SiteMenu-wrapper#SiteMenu-wrapper
  .SiteMenu-content
    ul.SiteMenu.SnMenu#SiteMenu
      each val, key in menu
        - var target = val === 'https://paulantezana.com' ? '"_blank"' : ''
        li(itemprop="url")
          a(href=val target=target itemprop="name" title= "Link to " + key)= key
    div
      .SnBtn-group
        input#snThemeLight(type="radio", name="snTheme" value="light").hidden
        label(for="snThemeLight").SnBtn Light
        input#snThemeDarck(type="radio", name="snTheme" value="darck").hidden
        label(for="snThemeDarck").SnBtn Darck
        input#snThemeSystem(type="radio", name="snTheme" value="system").hidden
        label(for="snThemeSystem").SnBtn System