-
  let menu = {
    'Documentation': '/documentation',
    'UI Interfaces': '/ui',
    'Examples': '/examples',
  };

#PrimaryMenu-toggle.icon-menu
nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation").PrimaryMenu-wrapper#PrimaryMenu-wrapper
  .PrimaryMenu-content
    ul.PrimaryMenu.SnMenu#PrimaryMenu
      each val, key in menu
        - var target = val === 'https://paulantezana.com' ? '"_blank"' : ''
        li(itemprop="url")
          a(href=val target=target itemprop="name" title= "Link to " + key)= key
    div.SnSwitch
      input#themeMode.SnSwitch-control(type = "checkbox")
      label.SnSwitch-label(for = "themeMode")