:root{
    // --snColor1: #1890ff;
    // --snColor1Inverse: #FFFFFF;
    // --snColor1Light: #40a9ff;
    // --snColor1Dark: #096dd9;
    --snColor1: #9A40D6;
    --snColor1Inverse: #FFFFFF;
    --snColor1Light: #b358f0;
    --snColor1Dark: #8c30c9;
    
    // second color
    --snColor2: #faad14;
    --snColor2Inverse: #FFFFFF;

    // Colores que se usaran en los estados del calendario
    --snError: #D73553;
    --snSuccess: #31B243;
    --snWarning: #FFC200;
    --snDisable: #d9d9d9;

    // Colores de fondo
    --snColorBg: #EFF3F6;
    --snColorBgAlt: #ffffff;
    --snColorHover: #0000000d;

    // Colores de texto
    --snColorText: #333333;
    --snColorTextAlt: rgb(202, 202, 202);

    // Color del borde de forma general
    --snColorBorder: #DFE2E2;

    // Darck styles
    --snColorDark: #2A3B47;
    --snColorDarkAlt: hsl(208, 29%, 10%);
    --snColorDarkInverse: #b6bcc0;
}