extends ../../config/template
append config
    -title = "Alerts"
    -description = "Alert component for feedback."
    -ogUrl = "/index.html"
    -template = 2

block main
    section.SnMb-16
        h2 Basic
        //- p.SnCard-description Hay un botón <code>Default</code>, un botón <code>Primary</code>, 
        //-   | un botón <code>Success</code>, un botón <code>Warning</code>,
        //-   | un botón <code>Error</code>, un botón <code>White</code> en sedna.
        .DocExample
            .SnAlert message in alert
            .SnAlert.success message in alert
            .SnAlert.info message in alert
            .SnAlert.warning message in alert
            .SnAlert.error message in alert
        pre.language-html
            code= '<div class="SnAlert">message in alert</div>' + ' \n<div class="SnAlert success">message in alert</div> \n<div class="SnAlert info">message in alert</div> \n<div class="SnAlert warning">message in alert</div> \n<div class="SnAlert error">message in alert</div>'