extends ../../config/template
append config
  -title = "Grids"
  -description = "Use Sedna custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more."
  -ogUrl = "/index.html"
  -template = 2
  
block main
  main
    h1= title
    p= description
    .SnCard.SnMb-16
      section.SnCard-body
        h2.SnCard-title 3 cols
        p.SnCard-description 
        .DocExample
          .SnGrid.m-3
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
        pre.language-html
            //- code= ''
    .SnCard.SnMb-16
      section.SnCard-body
        h2.SnCard-title 4 cols
        p.SnCard-description 
        .DocExample
          .SnGrid.m-4
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
        pre.language-html
            //- code= ''
    .SnCard.SnMb-16
      section.SnCard-body
        h2.SnCard-title Responsive 1 - 12
        p.SnCard-description 
        .DocExample
          .SnGrid.s-2.m-3.l-4.lg-5.xl-6
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
            div(style="background: lightsteelblue; height: 40px")
        pre.language-html
            //- code= ''