extends ../../config/template
append config
  -title = "List"
  -description = "Use Sedna custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more."
  -ogUrl = "/index.html"
  -template = 2
  
block main
  main
    h1= title
    p= description
    .SnCard.SnMb-16
      section.SnCard-body
        h2.SnCard-title Basic
        p.SnCard-description 
        .DocExample
          ul.SnList
            li item 1
            li item 2
            li item 3
            li item 4
        pre.language-html
            //- code= ''