extends ../../config/template
append config
  -title = "Tema personalizado"
  -description = "Sedna allows you to customize our design vars css in order to meet the needs of UI diversity from business and brand, including primary color, border radius, border color, etc."
  -ogUrl = "/docs/theme.html"
  -template = 2
  
block main
  main
    h1= title
    p= description
    .SnCard.SnMb-16
      section.SnCard-body
        h2.SnCard-title Variables CSS.
        p.SnCard-description 
        .DocExample
          .SnAvatar
        pre.language-scss
            code.
              :root{
                --snColor1: #9A40D6;
                --snColor1Inverse: #FFFFFF;
                --snColor1Light: #b358f0;
                --snColor1Dark: #8c30c9;
                
                --snColor2: #faad14;
                --snColor2Inverse: #FFFFFF;

                --snError: #D73553;
                --snSuccess: #31B243;
                --snWarning: #FFC200;
                --snDisable: #d9d9d9;

                // Colores de fondo
                --snColorBg: #FFFFFF;
                --snColorBgAlt: #f5f5f5;
                --snColorHover: #0000000d;

                // Colores de texto
                --snColorText: #333333;
                --snColorTextAlt: rgb(202, 202, 202);

                // Color del borde de forma general
                --snColorBorder: #DFE2E2;

                // Darck styles
                --snColorDark: #2A3B47;
                --snColorDarkAlt: hsl(208, 29%, 10%);
                --snColorDarkInverse: #b6bcc0;
              }
    .SnCard.SnMb-16
      section.SnCard-body
        h2.SnCard-title Variables SCSS.
        p.SnCard-description 
        .DocExample
          .SnAvatar
        pre.language-scss
          code.
            $max-width : 1200px !default;
            $gap : .5rem * 4 !default;  // 2rem
            $max-grid-columns : 12 !default;

            $breakpoints : (
                s : 0,
                m : 640px,
                l : 1024px,
                lg : 1024px,
                xl : 1440px
            );
            $sizes: map-keys($breakpoints);

            $cssCore: false !default;
            $classPrefix: 'Sn' !default;
