@mixin SnAlert {
    .#{$classPrefix}Alert{
        margin: 0;
        color: rgba(0,0,0,0.65);
        line-height: 1.5;
        list-style: none;
        position: relative;
        padding: 8px 15px;
        border-radius: 4px;
        
        [class*='SnIcon-']{
            margin-right: 8px;
            position: relative;
            top: 3px;
        }
        &-close {
            position: absolute;
            width: 2rem;
            height: 2rem;
            top: 0;
            right: 0;
            cursor: pointer;

            // center
            display: flex;
            align-items: center;
            justify-content: center;

            [class*="SnIcon-"]{
                margin: 0;
            }
        }
    
        &.success{
            background: var(--green-6);
            color: var(--green-i);
        }
        &.info{
            background: var(--color1-6);
            color: var(--color1-i);
        }
        &.warning{
            background: var(--yellow-6);
            color: var(--yellow-i);
        }
        &.danger{
            background: var(--red-5);
            color: var(--red-i);
        }
    }
}