@mixin SnAlert {
    .#{$classPrefix}Alert {
        margin: 0;
        color: rgba(0, 0, 0, 0.65);
        line-height: 1.5;
        list-style: none;
        position: relative;
        padding: 8px 15px;
        border-radius: 4px;

        // [class*='SnIcon-'] {
        //     // margin-right: 8px;
        //     // position: relative;
        //     top: 3px;
        // }

        display: flex;
        align-items: center;

        &-icon{
            margin-right: 14px;
            font-size: 20px;
        }

        &-close {
            position: absolute;
            width: 2rem;
            height: 2rem;
            top: 10px;
            right: 0;
            cursor: pointer;

            // center
            display: flex;
            align-items: center;
            justify-content: center;

            [class*="SnIcon-"] {
                margin: 0;
            }
        }

        &.success {
            background: var(--green-1);
            color: var(--green-7);
        }

        &.info {
            background: var(--color1-1);
            color: var(--color1-7);
        }

        &.warning {
            background: var(--yellow-1);
            color: var(--yellow-7);
        }

        &.danger {
            background: var(--red-1);
            color: var(--red-7);
        }
    }
}