@use "sass:math";

@mixin SnBtnStnd {
    line-height: $controlHeight;
    height: $controlHeight;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    padding: 0 15px;
    font-size: 14px;
    border-radius: $borderRadiusBase;
    text-decoration: none;
}

@mixin SnBtnStndStates {
    --btn-background-color: transparent;
    --btn-border-color: var(--snColorBorder);
    --btn-color: var(--snColorText);

    --btn-hover-background-color: transparent;
    --btn-hover-border-color: var(--color1-6);
    --btn-hover-color: var(--color1-6);

    --btn-focus-background-color: transparent;
    --btn-focus-border-color: var(--color1-6);
    --btn-focus-color: var(--color1-6);

    --btn-loading-border-color: var(--snColorText);

    --btn-focus-shadow: var(--control-focus-shadow);

    background-color: var(--btn-background-color);
    border: 1px solid var(--btn-border-color);
    color: var(--btn-color);

    &:hover {
        background-color: var(--btn-hover-background-color);
        border-color: var(--btn-hover-border-color);
        color: var(--btn-hover-color);
    }

    &:focus,
    &:active {
        outline: 0;

        background-color: var(--btn-focus-background-color);
        border-color: var(--btn-focus-border-color);
        color: var(--btn-focus-color);

        box-shadow: 0 0 0 var(--btn-focus-shadow);
    }

    &.loading {
        &::before {
            border: 2px solid var(--btn-loading-border-color);
        }
    }
}

@mixin SnBtn {
    .#{$classPrefix}Btn {
        @include SnBtnStnd;

        &.loading {
            @include SnLoadingTemplate(1em);
            padding-left: 11px + 24;

            &::before {
                left: 8px;
            }

            &.sm {
                padding-left: 24px;

                &::before {
                    left: 4px;
                }
            }

            &.lg {
                padding-left: 11px + 24;

                &::before {
                    left: 11px;
                }
            }

            &:not(.disabled),
            &:not([disabled]) {
                pointer-events: none;
            }
        }

        @include SnBtnStndStates;

        &-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            &>.#{$classPrefix}Btn,
            &>.#{$classPrefix}Form-control {
                border-radius: 0;

                &:last-child {
                    border-top-right-radius: $borderRadiusBase;
                    border-bottom-right-radius: $borderRadiusBase;
                }

                &:first-child {
                    border-top-left-radius: $borderRadiusBase;
                    border-bottom-left-radius: $borderRadiusBase;
                }
            }
        }

        &.block {
            width: 100%;
            display: block;
        }

        &.icon {
            padding: 0 9px;
            // display: inline-flex;
            // justify-content: center;
            // align-items: center;

            width: $controlHeight;

            &.sm {
                padding: 0 5px;
                width: $controlHeightSm;
            }

            &.lg {
                width: $controlHeightLg;
            }

            &.loading {
                padding-left: 0;

                // &::before {
                //   left: 9px;
                // }
                &>* {
                    opacity: 0;
                }
            }
        }

        &.sm {
            line-height: $controlHeightSm;
            height: $controlHeightSm;
        }

        &.lg {
            line-height: $controlHeightLg;
            height: $controlHeightLg;
        }

        &.primary {
            --btn-color: var(--color1-i);
            --btn-background-color: var(--color1-6);
            --btn-border-color: var(--color1-6);

            --btn-hover-background-color: var(--color1-5);
            --btn-hover-border-color: var(--color1-5);
            --btn-hover-color: var(--color1-i);

            --btn-focus-background-color: var(--color1-6);
            --btn-focus-border-color: var(--color1-6);
            --btn-focus-color: var(--color1-i);

            --btn-loading-border-color: var(--color1-i);
            --btn-focus-shadow: var(--control-focus-shadow-primary);
        }

        &.success {
            --btn-color: var(--green-i);
            --btn-background-color: var(--green-6);
            --btn-border-color: var(--green-6);

            --btn-hover-background-color: var(--green-5);
            --btn-hover-border-color: var(--green-5);
            --btn-hover-color: var(--green-i);

            --btn-focus-background-color: var(--green-6);
            --btn-focus-border-color: var(--green-6);
            --btn-focus-color: var(--green-i);

            --btn-loading-border-color: var(--green-i);
            --btn-focus-shadow: var(--control-focus-shadow-success);
        }

        &.warning {
            --btn-color: var(--yellow-i);
            --btn-background-color: var(--yellow-6);
            --btn-border-color: var(--yellow-6);

            --btn-hover-background-color: var(--yellow-5);
            --btn-hover-border-color: var(--yellow-5);
            --btn-hover-color: var(--yellow-i);

            --btn-focus-background-color: var(--yellow-6);
            --btn-focus-border-color: var(--yellow-6);
            --btn-focus-color: var(--yellow-i);

            --btn-loading-border-color: var(--yellow-i);
            --btn-focus-shadow: var(--control-focus-shadow-warning);
        }

        &.danger {
            --btn-color: var(--red-i);
            --btn-background-color: var(--red-6);
            --btn-border-color: var(--red-6);

            --btn-hover-background-color: var(--red-5);
            --btn-hover-border-color: var(--red-5);
            --btn-hover-color: var(--red-i);

            --btn-focus-background-color: var(--red-6);
            --btn-focus-border-color: var(--red-6);
            --btn-focus-color: var(--red-i);

            --btn-loading-border-color: var(--red-i);
            --btn-focus-shadow: var(--control-focus-shadow-danger);
        }

        &.white {
            --btn-color: var(--color1-6);
            --btn-background-color: var(--gray-1);
            --btn-border-color: var(--gray-1);

            --btn-hover-background-color: var(--gray-1);
            --btn-hover-border-color: var(--gray-1);
            // --btn-hover-color: var(--color1-i);

            --btn-focus-background-color: var(--gray-1);
            --btn-focus-border-color: var(--gray-1);
            // --btn-focus-color: var(--color1-i);

            --btn-loading-border-color: var(--color1-6);
            // --btn-focus-shadow: var(--control-focus-shadow-primary);
        }

        &.radio {
            border-radius: math.div($controlHeight, 2);

            &.sm {
                border-radius: math.div($controlHeightSm, 2);
            }

            &.lg {
                border-radius: math.div($controlHeightLg, 2);
            }
        }

        &.disabled:active &.disabled:focus,
        &.disabled:hover,
        &.disabled,
        &[disabled]:active,
        &[disabled]:focus,
        &[disabled]:hover,
        &[disabled] {
            opacity: 0.6;
            touch-action: none;
            pointer-events: none;
            // cursor: not-allowed;
        }
    }
}