@mixin StandardFormItem{
    &.hidden {
        display: none !important;
    }
    margin-bottom: 16px;
}

@mixin FormControl {
    border: 1px solid var(--snColorBorder);
    background: var(--snColorBg);
    box-shadow: none;
    padding: 6px 11px;
    font-size: 14px;
    color: var(--snColorText);
    border-radius: 4px;
    line-height: 1.5em;
    display: inline-block;
    height: calc(#{$controlHeight} + 2px);
    width: 100%;
    //box-sizing: border-box;
    &:hover {
        border-color: var(--snColor1Light);
    }
    &:active,
    &:focus {
        border-color: var(--snColor1Light);
        outline: 0;
        // box-shadow: 0 0 0 2px rgba(0,0,0, 0.2);
        border-right-width: 1px !important;
    }
    &::placeholder{
       color: var(--snColorBorder);
    }
    &:disabled{
        border-color: var(--snColorBg);
    }
}

@mixin SnForm {
    .#{$classPrefix}Form{
        &.horizontal{
            // maxWidth: 600px;
            @include from(m){
                .#{$classPrefix}Form-item{
                    display: flex;
                    align-items: center;
                    .#{$classPrefix}Form-left,
                    .#{$classPrefix}Form-label{
                        width: 40%;
                        text-align: right;
                        padding: 0;
                        &::after{
                            content: ':';
                            position: relative;
                            top: -0.5px;
                            margin: 0 8px 0 2px;
                        }
                    }
                    .#{$classPrefix}Form-right,
                    .#{$classPrefix}Form-input{
                        width: 60%;
                    }
                }
            }
        }
        &-item{
            @include StandardFormItem;
            &.required .#{$classPrefix}Form-label::before{
                display: inline-block;
                margin-right: 4px;
                color: var(--snError);
                font-size: 14px;
                // font-family: SimSun, sans-serif;
                line-height: 1;
                content: "*";
            }
            .SnForm-help{
                color: var(--snColorTextAlt);
                font-size: 13px;
                margin-top: 4px;
            }
            &.has-error{
                .SnForm-control{
                    border-color: var(--snErrorLight);
                }
                .SnForm-help{
                    color: var(--snError);
                }
            }
            &.has-success{
                .SnForm-control{
                    border-color: var(--snSuccessLight);
                }
                .SnForm-help{
                    color: var(--snSuccess);
                }
            }
            &.inner{
                position: relative;
                $innerPaddingTop: 18px;
                .SnForm {
                    &-label {
                        position: absolute;
                        z-index: 1;
                        top: 4px;
                        left: 11px;
                        font-size: 0.7rem;
                        pointer-events: none;
                    }
                    &-control {
                        height: calc(#{$controlHeight} + #{$innerPaddingTop});
                        padding-top: $innerPaddingTop;
                        &.sm{
                            height: calc(#{$controlHeightSm} + 2px + #{$innerPaddingTop});
                        }
                        &.lg{
                            height: calc(#{$controlHeightLg} + 2px + #{$innerPaddingTop});
                        }
                    }
                }
            }
        }
        &-label {
            display: block;
            margin: 0;
            padding: 0 0 8px;
            line-height: 1.5;
            color: var(--snColorText);
        }
        &-control {
            @include FormControl;
            &.sm{
                height: calc(#{$controlHeightSm} + 2px);
            }
            &.lg{
                height: calc(#{$controlHeightLg} + 2px);
            }
        }
    }
    textarea.#{$classPrefix}Form-control
    {
        font-family: inherit;
        font-size: inherit;
        height: auto;
    }
}