@mixin SnTag {
    .#{$classPrefix}Tag {
        font-size: 0.8rem;
        line-height: 1rem;
        height: auto;
        padding: 0 0.3rem;
        display: inline-block;
        border-radius: 0.2em;
        &.primary {
          background: var(--snColor1);
          color: var(--snColor1Inverse);
        }
        &.success {
          background: var(--snSuccess);
          color: var(--snSuccessInverse);
        }
        &.warning {
          background: var(--snWarning);
          color: var(--snWarningInverse);
        }
        &.error {
          background: var(--snError);
          color: var(--snErrorInverse);
        }
    }
}