extends ../../config/template
append config
    -title = "Alerts"
    -description = "Alert component for feedback."
    -ogUrl = "/index.html"
    -template = 2

block main
    .SnGrid.col-gap.row-gap.l-grid-2
        +codeBox(
            'Basic', 
            '', 
            '<div class="SnAlert"> <span class="SnIcon-question"></span>message in alert</div>\n<div class="SnAlert success"> <span class="SnIcon-success"></span>message in alert</div>\n<div class="SnAlert info"> <span class="SnIcon-info"></span>message in alert</div>\n<div class="SnAlert warning"> <span class="SnIcon-warning"></span>message in alert</div>\n<div class="SnAlert error"> <span class="SnIcon-error"></span>message in alert</div>'
        )
            .SnAlert 
                span.SnIcon-question
                | message in alert
            .SnAlert.success 
                span.SnIcon-success
                | message in alert
            .SnAlert.info 
                span.SnIcon-info
                | message in alert
            .SnAlert.warning 
                span.SnIcon-warning
                | message in alert
            .SnAlert.error 
                span.SnIcon-error
                | message in alert