extends ../../config/template
append config
    -title = "Avatar"
    -description = "Use Sedna custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more."
    -ogUrl = "/index.html"
    -template = 2
block main
    .SnGrid.l-2
        +codeBox(
            'Basic', 
            '', 
            '<div class="SnAvatar">\n   <img src="/assets/images/logo.png", alt=""/>\n</div>'
        )
            .SnAvatar
                img(src="/assets/images/logo.png" alt="")