extends ../../config/template
append config
    -title = "Cards"
    -description = "Simple rectangular container."
    -ogUrl = "/index.html"
    -template = 2
block main
    .SnGrid.l-2
        +codeBox(
            'Basic', 
            'A basic card containing a title, content and an extra corner content.', 
            '<div class="SnCard">\n    <div class="SnCard-header">Card header</div>\n    <div class="SnCard-body">\n        <h2 class="SnCard-title">Card title</h2>\n        <p class="SnCard-description">Card content ...</p>\n    </div>\n</div>'
        )
            .SnCard
                .SnCard-header Card header
                .SnCard-body
                    h2.SnCard-title Card title
                    p.SnCard-description Card content ...
        +codeBox(
            'Hoverable',
            'hover', 
            '<div class="SnCard hoverable">\n    <div class="SnCard-header">Card header</div>\n    <div class="SnCard-body">\n        <h2 class="SnCard-title">Card title</h2>\n        <p class="SnCard-description">Card content ...</p>\n    </div>\n</div>'
        )
            .SnCard.hoverable
                .SnCard-header Card header
                .SnCard-body
                    h2.SnCard-title Card title
                    p.SnCard-description Card content ...