extends ../../config/template
append config
    -title = "Contain"
    -description = "Contain."
    -ogUrl = "/index.html"
    -template = 2
block main
    section.SnMb-16
        h2 Basic
        pre.language-html
            code= '<div class="SnContainer">\n</div>'