extends ../../config/template
append config
    -title = "Container"
    -description = "Containers are used to contain, pad, and (sometimes) center the content within them. While containers can be nested, most layouts do not require a nested container"
    -ogUrl = "/contain.html"
    -template = 2
block main
    .SnGrid.col-gap.row-gap.l-grid-2
        +codeBox(
            'Basic', 
            'Containers are used to contain, pad, and (sometimes) center the content within them. While containers can be nested, most layouts do not require a nested container', 
            '<div class="SnContainer">\n    <!-- Content here -->\n</div>'
        )
            code .SnContainer