extends ../../config/template
append config
    -title = "Freeze"
    -description = "Freeze."
    -ogUrl = "/index.html"
    -template = 2
block main
    .SnGrid.l-2
        section.CodeBox
            .CodeBox-demo
                .SnBtn.primary(onclick="startFreeze()") Freeze
                script.
                    let startFreeze = () => {
                        SnFreeze.freeze();
                        setTimeout(() => {
                            SnFreeze.unFreeze();
                        }, 2000);
                    }
            .CodeBox-meta
                .CodeBox-title Freeze
                .CodeBox-description Freeze.
                .CodeBox-actions
                    //- a(href="" target="_blanck" data-tooltip="Open in CodePen").CodeBox-action.icon-codepen.CodeBox-codepen
                    .CodeBox-action.icon-clipboard.CodeBox-copy(data-tooltip="Copy code")
                    .CodeBox-action.icon-code.CodeBox-show(data-tooltip="Show or hide code")
            .CodeBox-code
                pre.language-js
                    code.
                        SnFreeze.freze();
                        SnFreeze.unFreeze();