extends ../../config/template
append config
    -title = "Grids"
    -description = "24 Grids System."
    -ogUrl = "/index.html"
    -template = 2

block main
    .SnGrid.l-grid-2
        +codeBox(
            '3 cols', 
            '', 
            '<div class="SnGrid m-3">\n    <div></div>\n    <div></div>\n    <div></div>\n</div>'
        )
            .SnGrid.m-3
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
        +codeBox(
            '4 cols', 
            '', 
            '<div class="SnGrid m-4">\n    <div></div>\n    <div></div>\n    <div></div>\n    <div></div>\n</div>'
        )
            .SnGrid.m-4
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
        +codeBox(
            'Responsive 1 - 12', 
            '',
            '<div class="SnGrid s-grid-2 m-grid-3 l-grid-4 lg-grid-5 xl-grid-6">\n    <div></div>\n    <div></div>\n    <div></div>\n    <div></div>\n    <div></div>\n    <div></div>\n    <div></div>\n</div>'
        )
            .SnGrid.s-grid-2.m-grid-3.l-grid-4.lg-grid-5.xl-grid-6
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")
                div(style="background: lightsteelblue; height: 40px")