extends ../../config/template
append config
    -title = "Icons"
    -description = "Icon."
    -ogUrl = "/index.html"
    -template = 2
block main
    .SnGrid.l-grid-2
        +codeBox(
            '3 cols', 
            '', 
            ''
        )
            .SnGrid.s-grid-6
                .SnIcon-info
                .SnIcon-question
                .SnIcon-success
                .SnIcon-warning
                .SnIcon-error
            style(type="text/css").
                .CodeBox [class*="SnIcon-"] {
                    font-size: 1.3rem;
                }