extends ../../config/template
append config
    -title = "Docs"
    -description = "Doc."
    -ogUrl = "/index.html"
    -template = 2

block main    
    //- img(src="/assets/images/documentation.svg", alt="")