extends ../../config/template
append config
    -title = "Pagination"
    -description = "A long list can be divided into several pages by Pagination, and only one page will be loaded at a time."
    -ogUrl = "/index.html"
    -template = 2

block main
    .SnGrid.l-2
        +codeBox(
            'Basic', 
            'Basic pagination.', 
            '<ul class="SnPagination">\n    <li class="SnPagination-item disabled"><a href="#" class="SnPagination-link">Previous</a></li>\n    <li class="SnPagination-item active"><a href="#" class="SnPagination-link">1</a></li>\n    <li class="SnPagination-item "><a href="#" class="SnPagination-link">2</a></li>\n    <li class="SnPagination-item "><a href="#" class="SnPagination-link">3</a></li>\n    <li class="SnPagination-item "><a href="#" class="SnPagination-link">Next</a></li>\n</ul>'
        )
            ul.SnPagination
                li.SnPagination-item.disabled: a.SnPagination-link(href="#") Previous
                li.SnPagination-item.active: a.SnPagination-link(href="#") 1
                li.SnPagination-item: a.SnPagination-link(href="#") 2
                li.SnPagination-item: a.SnPagination-link(href="#") 3
                li.SnPagination-item: a.SnPagination-link(href="#") Next