extends ../../config/template
append config
    -title = "Switch"
    -description = "Switch."
    -ogUrl = "/index.html"
    -template = 2

block main
    .SnGrid.col-gap.row-gap.l-grid-2
        +codeBox(
            'checkbox',
            'Switch checkbox example',
            '<div class="SnSwitch">\n    <input class="SnSwitch-control" id="example" type="checkbox">\n    <label class="SnSwitch-label" for="example"></label>\n</div>\n'
        )
            input#example(type="checkbox")

        +codeBox(
            'radio',
            'Switch radio example',
            '<div style="display: flex;">\n    <div class="SnSwitch">\n        <input class="SnSwitch-control" id="radio1" type="radio" name="example1">\n        <label class="SnSwitch-label" for="radio1"></label>\n    </div>\n    <div class="SnSwitch">\n        <input class="SnSwitch-control" id="radio2" type="radio" name="example1">\n        <label class="SnSwitch-label" for="radio2"></label>\n    </div>\n    <div class="SnSwitch">\n        <input class="SnSwitch-control" id="radio3" type="radio" name="example1">\n        <label class="SnSwitch-label" for="radio3"></label>\n    </div>\n</div>\n'
        )
            div(style="display: flex;")
                input#radio1(type="radio" name="example1")
                input#radio2(type="radio" name="example1")
                input#radio3(type="radio" name="example1")