extends ../../config/template
append config
    -title = "Tab"
    -description = "A simple text popup tip."
    -ogUrl = "/tooltip.html"
    -template = 2

block main
    .SnGrid.l-grid-2
        +codeBox(
            'Basic', 
            'Default activate first tab.',
            '<div class="SnTab">\n    <div class="SnTab-header">\n        <div class="SnTab-title">Title 1</div>\n        <div class="SnTab-title is-active">Title 2</div>\n        <div class="SnTab-title">Title 3</div>\n        <div class="SnTab-title">Title 4</div>\n    </div>\n    <div class="SnTab-content">\n        <p>Shabby chic ennui cred godard, forage roof party scenester health goth typewriter pitchfork. Stumptown\n            whatever fap, austin heirloom asymmetrical lo-fi ethical seitan. Post-ironic hella listicle brunch meggings\n            artisan. YOLO tattooed blue bottle, fanny pack gluten-free put a bird on it migas forage trust fund.</p>\n    </div>\n    <div class="SnTab-content is-active">\n        <p>Shabby chic cred godard, forage roof party scenester health goth typewriter pitchfork. Stumptown whatever\n            fap, austin heirloom asymmetrical lo-fi ethical seitan. Post-ironic hella listicle brunch meggings artisan.\n            YOLO tattooed blue bottle, fanny pack gluten-free put a bird on it migas forage trust fund.</p>\n    </div>\n    <div class="SnTab-content"><img src="http://lorempixel.com/500/300" alt=""></div>\n    <div class="SnTab-content">\n        <p>Meggings distillery pop-up artisan, hashtag 90s echo park kickstarter gluten-free. Pinterest gentrify squid\n            vinyl chicharrones meh venmo. Beard aesthetic whatever bicycle rights artisan gastropub. Fingerstache\n            bicycle rights you probably havent heard of them, schlitz franzen semiotics microdosing.</p>\n    </div>\n</div>'
        )
            div
                .SnTab
                    .SnTab-header
                        .SnTab-title Title 1
                        .SnTab-title Title 2
                        .SnTab-title Title 3
                        .SnTab-title Title 4
                    .SnTab-content
                        p Shabby chic ennui cred godard, forage roof party scenester health goth typewriter pitchfork. Stumptown whatever fap, austin heirloom asymmetrical lo-fi ethical seitan. Post-ironic hella listicle brunch meggings artisan. YOLO tattooed blue bottle, fanny pack gluten-free put a bird on it migas forage trust fund.

                    .SnTab-content
                        p Shabby chic cred godard, forage roof party scenester health goth typewriter pitchfork. Stumptown whatever fap, austin heirloom asymmetrical lo-fi ethical seitan. Post-ironic hella listicle brunch meggings artisan. YOLO tattooed blue bottle, fanny pack gluten-free put a bird on it migas forage trust fund.

                    .SnTab-content
                        img(src="http://lorempixel.com/500/300" alt="")

                    .SnTab-content
                        p Meggings distillery pop-up artisan, hashtag 90's echo park kickstarter gluten-free. Pinterest gentrify squid vinyl chicharrones meh venmo. Beard aesthetic whatever bicycle rights artisan gastropub. Fingerstache bicycle rights you probably haven't heard of them, schlitz franzen semiotics microdosing.
