extends ../../config/template
append config
    -title = "Customize Theme"
    -description = "Sedna CSS allows you to customize our design vars css in order to meet the needs of UI diversity from business and brand, including primary color, border radius, border color, etc."
    -ogUrl = "/documentation/theme.html"
    -template = 2

block main
    section.SnMb-16
        h2 Variables CSS.
        p There are some major variables below, all css variables could be found in default Variables
        .DocExample
            .SnAvatar
        pre.language-scss
            code.
                :root{
                    --snColor1Lighter4: #E9F3F7;
                    --snColor1Lighter3: #D8E4EB;
                    --snColor1Lighter2: #A9CADE;
                    --snColor1Lighter: #7DB0D1;
                    --snColor1Light: #5695C4;
                    --snColor1: #3379B7;
                    --snColor1Dark: #215991;
                    --snColor1Darker: #133C6B;
                    --snColor1Darker2: #092345;
                    --snColor1Darker3: #040E1F;
                    --snColor1Inverse: #ffffff;

                    --snColor2Lighter4: #fffde6;
                    --snColor2Lighter3: #fff7b0;
                    --snColor2Lighter2: #ffef87;
                    --snColor2Lighter: #ffe45e;
                    --snColor2Light: #fcd535;
                    --snColor2: #f0b90b;
                    --snColor2Dark: #c99400;
                    --snColor2Darker: #a37200;
                    --snColor2Darker2: #7d5300;
                    --snColor2Darker3: #573700;
                    --snColor2Inverse: #ffffff;

                    --snErrorLight: #de575b;
                    --snError: #d02f39;
                    --snErrorDark: #ab1f2d;
                    --snErrorInverse: white;

                    --snSuccessLight: #82c280;
                    --snSuccess: #5ab45a;
                    --snSuccessDark: #408f43;
                    --snSuccessInverse: white;

                    --snWarningLight: #fccb7c;
                    --snWarning: #f0ad4e;
                    --snWarningDark: #c98838;
                    --snWarningInverse: #3d2501;

                    --snColorBg: #eff3f6;
                    --snControlColorBg: #eff3f6;
                    --snColorBgAlt: #ffffff;
                    --snColorHover: #0000000d;

                    --snColorText: #333333;
                    --snColorTextAlt: #ababab;

                    --snColorBorder: #dfe2e2;
                    --snControlColorBorder: #dfe2e2;
                    --snControlColorPlaceholder: #ababab;

                    --snColorDarkSmoother: #374047;
                    --snColorDarkSmooth: #2C343A;
                    --snColorDark: #242B31;
                    --snColorDarker: #1B2126;
                    --snColorDarkest: #15191C;
                    --snColorDarkInverse: #b6bcc0;
                }
    section.SnMb-16
        h2 Variables SCSS.
        p Scss vars
        pre.language-scss
            code.
                $maxWidth           : 1200px !default;
                $lUnit              : .5rem !default;
                $gap                : $lUnit * 4 !default;  // 2rem
                $maxGridColumns     : 12 !default;

                $breakpoints : (
                    s : 0,
                    m : 640px,
                    l : 850px,
                    lg : 1024px,
                    xl : 1440px
                ) !default;
                $sizes: map-keys($breakpoints);

                $cssCore: false !default;
                $classPrefix: 'Sn' !default;

                $controlHeight: 32px;
                $controlHeightSm: 24px;
                $controlHeightLg: 38px;

                $borderRadiusBase: 4px;

                :root{
                    --gap: #{$lUnit * 2};  // 1rem
                }