$asideFooterHeight: 32px;
$asideWidth: 220px;
$asideSmallWidth: 64px;
$headerHeight: 56px;

$breakpoints : (
    s : 0,
    m : 640px,
    l : 1024px,
    lg : 1024px,
    xl : 1440px
);

@mixin from($from){
  @media screen and (min-width: map-get($breakpoints,$from)){ 
    @content;
  }
}

@mixin to($to) {
  @media screen and (max-width: map-get($breakpoints,$to)){ 
    @content;
  }
}

body{
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.90rem;
}


[class*="icon-"]::before{
  top: 2px;
  position: relative;
}

// General Styles
.AdminLayout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "layoutHeader"
                        "layoutMain"
                        "layoutAside";
  @include from(l){
    grid-template-columns: 220px 1fr;
    grid-template-areas: "layoutAside layoutHeader"
                          "layoutAside layoutMain";
  }
  &-header{
    line-height: $headerHeight;
    grid-area: layoutHeader;
  }
  &-main{
    height: calc(100vh - #{$headerHeight + 1});
    overflow-y: auto;
    grid-area: layoutMain;
  }
  &-aside{
    @include to(l){
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 110;
      width: 100%;
    }
    min-height: 100vh;
    grid-area: layoutAside;
    i{
      line-height: inherit;
    }
  }
  &.AsideMenu-is-show{
    @include to(l){
      .AdminLayout-aside{
        left: 0;
      }
    }
  }
}

// Layout 1
.SnAdminL1{
  @include from(l){
    grid-template-columns: $asideWidth 1fr;
  }
  &.AsideMenu-is-show{
    @include from(l){
      grid-template-columns: $asideSmallWidth 1fr;
    }
  }
}

// Layout 2
.SnAdminL2{
  @include from(l){
    grid-template-columns: $asideSmallWidth 1fr;
  }
  &.AsideMenu-is-show{
    @include from(l){
      grid-template-columns: $asideWidth 1fr;
    }
  }
}

.SnContent{
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include from(l){
    padding: 1rem;
  }
}

.SnContentAside{
  display: grid;
  grid-template-columns: 1fr;
  @include from(l){
    grid-template-columns: 1fr 2fr;
  }
  height: calc(100vh - 60px);
  padding: 1rem;
  grid-gap: 1rem;
}






.AsideMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100vh - #{$headerHeight + $asideFooterHeight});
  background: var(--snColorDarker);
  overflow-y: auto;
  &-container{
    background: var(--snColorDarker);
    color: var(--snColorDarkInverse);
  }
  li {
    position: relative;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--snColorDark);
  }
  a {
    color: var(--snColorDarkInverse);
    text-decoration: none;
    padding: 0 8px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    [class*="icon-"] {
      margin-right: 16px;
    }
    > span {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .toggle {
      margin: 0 0 0 8px;
    }
  }
  & > li > a {
    line-height: 3rem;
    &:hover {
      background: var(--snColor1);
      color: white;
    }
  }
  ul {
    a {
      padding: 8px 0  8px 50px;
      line-height: 1.5rem;
      &:hover{
        color: var(--snColor1Lighter);
      }
    }
  }
}

// Menu Aside wrrapper
.AsideMenu-is-show {
  @include to(l) {
    .AsideMenu {
      &-wrapper {
        background: rgba(black, .5);
      }
      &-container {
        width: $asideWidth;
      }
    }
  }
}

// Divider
.AsideMenu {
  &-divider {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
  }
}

// Large
.AsideMenu {
    ul {
        display: none;
        &.is-show{
            display: block;
        }
    }
}

// Small
@mixin AsideMenuInSmall(){
  @include from(l) {
    .AsideMenu {
      overflow-y: initial;
      &-divider {
        // border-bottom: 1px solid var(--snColorDark);
        padding: 0;
        font-size: 0;
      }

      // All Levels
      li {
        ul {
          position: absolute;
          top: 0;
          left: 100%;
          width: 220px;
          display: none;
          a {
            padding: 8px 20px;
          }
        }
        &:hover {
          > ul {
            display: block;
          }
          > a span {
            display: flex;
          }
          > a {
            color: var(--snColor1Lighter);
          }
        }
      }

      // Fisrt level
      > li {
        > a {
          justify-content: center;
          padding-left: 0;
          padding-right: 0;
          > span {
            position: absolute;
            left: 100%;
            top: 0;
            text-align: left;
            padding: 0 20px;
            width: 220px;
            background: var(--snColor1);
            display: none;
          }
          .toggle {
            display: none;
          }
          [class*="icon-"] {
            margin-right: 0;
          }
        }
        &:hover{
          > a {
            background: var(--snColor1);
            color: white;
          }
        }
        > ul{
          top: 100%;
        }
      }
    }
  }
}

.SnAdminL1.AsideMenu-is-show{
  @include AsideMenuInSmall();
}
.SnAdminL2:not(.AsideMenu-is-show){
  @include AsideMenuInSmall();
}

// ----------------------------------------------------------------------------
// Aside Header
.AsideHeader {
  height: $headerHeight;
  padding: 10px 20px;
  border-bottom: 1px solid var(--snColorDark);
}

// ----------------------------------------------------------------------------
.AsideFooter{
   height: $asideFooterHeight;
   padding: 0 14px 0 14px;
}

// Branding
.Branding {
  height: 100%;
  &-link {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--snColorDarkInverse);
    text-decoration: none;
    img {
      max-width: 28px;
      margin-right: 16px;
    }
  }
  &-name {
    font-weight: 500;
  }
}

// Layout
@mixin AsideHeaderInSmall(){
  @include from(l){
    .AsideHeader {
      padding: 0;
      display: flex;
      justify-content: center;
    }
    .Branding {
      &-img {
        margin: 0;
      }
      &-name {
        display: none;
      }
    }
  }
}

.SnAdminL1.AsideMenu-is-show{
  @include AsideHeaderInSmall();
}
.SnAdminL2:not(.AsideMenu-is-show){
  @include AsideHeaderInSmall();
}

.icon-down::before{
  content: "\6b";
}

.icon-up::before{
  content: "\6e";
}




.Header{
  display: flex;
  justify-content: space-between;
  background: var(--snColorBgAlt);
  border-bottom: 1px solid var(--snColorBorder);
}

#AsideMenu-toggle{
  padding: 0 16px;
  cursor: pointer;
  &:hover{
      background: var(--snColorHover);
  }
}






@mixin SnMenu($bp: l, $menu-class: '.SnMenu'){
  #{$menu-class}{
      @media print{ display: none; }
      @include from($bp){  display: flex;  }
  }

  // Layout general en mobile
  #{$menu-class}{
      li ul{
          display: none;
          // opacity: 0;
          // max-height: 0;
          // overflow: hidden;
      }
  }

  // Layout general en Desktop
  #{$menu-class}{
      li{
          @include from($bp){  position: relative;  }
      }
      li ul{
          @include from($bp){  position: absolute; z-index: 400  }
      }
      li{
          @include from($bp){
              &:hover{
                  & > ul{
                      display: block;
                      // opacity: 1;
                      // max-height: 1000px;
                      // overflow: visible;
                  }
              }
          }
      }
      & > li > ul > li ul{
          @include from($bp){  right: 100%;  top: 0;  }
      }
  }

  // Mostrar los submenus en mobil
  // Agregar la calse desde javascript
  #{$menu-class}{
      .is-show{
          display: block;
          // max-height: 1000px;
      }
  }


  // ------------------------
  // MENU STYLES
  #{$menu-class}{
      list-style: none;
      padding: 0;
      margin: 0;
      li ul{ 
        list-style: none;
        padding: 0;
        margin: 0;
      }
  }
  #{$menu-class}{
      a{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .toggle{
              display: block;
              padding: 0 8px;
          }
      }
  }

  // TOGGLE MENU IN MOBILE
  #{$menu-class}-toggle{
      @include from($bp){display: none}
      @media print {  display: none;  }
      cursor: pointer;
  }
}



@include SnMenu(s,'.HeaderMenu');

// Estilos generales
.HeaderMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  li{
      padding-right: 12px;
      padding-left: 12px;
      cursor: pointer;
      &:hover{
          background: var(--snColorHover);
      }
      .Header-action{
          display: flex;
          justify-content: center;
          align-items: center;
          height: $headerHeight;
          [class*="icon-"]{
              font-size: 1.2rem;
          }
      }
      &.divider{
          border-bottom: 1px solid var(--snColorBorder);
      }
  }
  a {
      text-decoration: none;
      line-height: 34px;
      height: 34px;
      display: block;
      white-space: nowrap;
      &.is-toggle {
          display: flex;
          justify-content: space-between;
          padding-right: 0;
      }
  }
  li {
      &:hover{
          & > ul{
              max-height: 1000px;
              overflow: visible;
          }
      }
  }
}

// Profile Avatar
.HeaderMenu{
  &-profile{
      text-transform: uppercase;
  }
  &-header{
    line-height: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid var(--snColorBorder);
    &:hover{
      background: none;
    }
  }
  &-footer{
    border-top: 1px solid var(--snColorBorder);
    text-align: center;
  }
}

// Estilos en el escritorio
.HeaderMenu {
  display: flex;
  a {
      color: var(--snColorText);
      &:hover{
          color: var(--snColorText);
      }
  }
  li{
      ul{
          position: absolute;
          background: var(--snColorBgAlt);
          z-index: 100;
          box-shadow: 0 2px 16px -2px rgba(#000000, 0.10);
          border-radius: 0.25rem;
          min-width: 150px;
          right: 0;
      }
  }
}



.User,
.Notification {
  &-item{
    text-decoration: none;
    color: var(--snColorText);
    display: flex;
    align-items: center;

    line-height: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    .SnAvatar{
      margin-right: 16px;
    }
  }
  &-description,
  &-title{
    margin: 0;
  }
  &-description{
    color: var(--snColorTextAlt);
  }
}

.Notification{
  line-height: 1rem;
  display: flex;
  min-width: 300px;
  padding: .6rem 1rem;
  &-avatar{
    margin-right: 1rem;
    flex: 1 0 auto;
  }
  &-body{
    p{ margin-top: 0; }
  }
  &-time{
    color: var(--snColorTextAlt);
  }
}

.SnToolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 0.8rem 0;
  @include to(l){
    padding: 0 1rem;
  }
  @include to(m){
    flex-direction: column;
  }
  &-left{
    @include to(m){
      margin-bottom: 16px;
    }
  }
  &-right{
    @include to(m){
      margin-bottom: 8px;
    }
  }
}