extends ../config/template
append config
  -title = "Libreria Sass/CSS de EDteam para construir layouts web responsive"
  -description = "Libreria Sass/CSS de EDteam para construir layouts web responsive"
  -ogUrl = "/index.html"

block main
  main
    .HomeBanner
      //- img.HomeBanner-bg(src="/assets/images/banner-bg.jpg", alt="")
      .HomeBanner-content
        .SnContainer
          h1 Sedna
          p Sedna is a component-based CSS library.
          .SnBtn-group
            a(href="/docs/starter.html").SnBtn.primary.lg Getting Started
            a(href="https://github.com/paulantezana/Sedna" target="_blanck").SnBtn.lg GitHub