- let titlePrefix = "Sedna CSS | "
- let libraryName = "Sedna CSS"
- let appVersion = "v1.0.3"
- let title = "Home"
- let description = "Sedna CSS implements a flexible and customizable design system to create responsive designs and components at the speed of light."
- let ogUrl = "index.html"
- let template = 1