@mixin SnBase() {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    ::selection {
        background: var(--color1-6);
        color: var(--color1-i);
    }

    body {
        margin: 0;
        color: var(--text-color);
        background: var(--panel-background);
        font-family: sans-serif;
    }

    video,
    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
}