@mixin SnBase() {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  ::selection {
    background: var(--snColor1);
    color: var(--snColor1Inverse);
  }

  body {
    margin: 0;
    color: var(--snColorText);
    background: var(--snColorBg);
    font-family: sans-serif;
  }

  video,
  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }

  :root {
    --snColor1Lighter4: #e6f7ff;
    --snColor1Lighter3: #bae7ff;
    --snColor1Lighter2: #91d5ff;
    --snColor1Lighter: #69c0ff;
    --snColor1Light: #40a9ff;
    --snColor1: #1890ff;
    --snColor1Dark: #096dd9;
    --snColor1Darker: #0050b3;
    --snColor1Darker2: #003a8c;
    --snColor1Darker3: #002766;
    --snColor1Inverse: #ffffff;

    --snColor2Lighter: #ffd685;
    --snColor2Light: #ffc757;
    --snColor2: #faad14;
    --snColor2Dark: #ffa600;
    --snColor2Darker: #eb9c00;
    --snColor2Inverse: #ffffff;

    --snErrorLight: #ff4d4f;
    --snError: #f5222d;
    --snErrorDark: #cf1322;
    --snErrorInverse: white;

    --snSuccessLight: #73d13d;
    --snSuccess: #52c41a;
    --snSuccessDark: #389e0d;
    --snSuccessInverse: white;

    --snWarningLight: #ffec3d;
    --snWarning: #fadb14;
    --snWarningDark: #d4b106;
    --snWarningInverse: #3d2501;

    --snColorBg: #eff3f6;
    --snColorBgAlt: #ffffff;
    --snColorHover: #0000000d;

    --snColorText: #333333;
    --snColorTextAlt: #ababab;

    --snColorBorder: #dfe2e2;

    --snColorDarkSmoother: #4f7087;
    --snColorDarkSmooth: #3c5567;
    --snColorDark: #2a3b47;
    --snColorDarker: #22303a;
    --snColorDarkest: #1a252d;
    --snColorDarkInverse: #b6bcc0;
  }
}
