.HomeBanner {
  // background: linear-gradient(-20deg, var(--snColor1Dark) 35%, transparent),
  //   linear-gradient(
  //     60deg,
  //     var(--snColor1) 0%,
  //     var(--snColor1Dark) 25%,
  //     var(--snColor1) 25%,
  //     var(--snColor1Dark) 50%,
  //     var(--snColor1) 50%,
  //     var(--snColor1Dark) 75%
  //   );
  position: relative;
  // height: 500px;
  padding: 4rem 1rem 1rem;
  // &-bg {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   opacity: .04;
  // }
  &-content {
    text-align: center;
    position: relative;
    z-index: 5;
    // color: var(--snColor1Inverse);
    img{
      width: 100px;
    }
    h1 {
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 0;
      line-height: 1em;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
