.HomeIntro{
    // background: var(--snColor1);
    padding: 4rem 0;
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-title{
        text-align: center;
        margin-bottom: 3rem;
        color: var(--snColor1Inverse);
    }
}

.HomeIntro{
    &-video{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
    }
    &-videoPlay{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 0 0 30px var(--snColorBg),
                    0 0 0 31px var(--snColorBorder);
        background: var(--snColor1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:before{
            content: '';
            bottom: 0;
            width: 14px;
            height: 18px;
        
            border-left: 14px solid var(--snColor1Inverse);
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
        }
    }
}