body {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.90rem; }

[class*="icon-"] {
  top: 4px;
  position: relative; }

.AdminLayout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "layoutHeader" "layoutMain" "layoutAside"; }
  @media screen and (min-width: 1024px) {
    .AdminLayout {
      -ms-grid-columns: 220px 1fr;
      grid-template-columns: 220px 1fr;
      grid-template-areas: "layoutAside layoutHeader" "layoutAside layoutMain"; } }
  .AdminLayout-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    line-height: 56px;
    grid-area: layoutHeader; }
  .AdminLayout-main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    height: calc(100vh - 57px);
    overflow-y: auto;
    grid-area: layoutMain; }
  .AdminLayout-aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    height: 100vh;
    grid-area: layoutAside; }
  @media screen and (min-width: 1024px) {
    .AdminLayout-header {
    -ms-grid-row: 1;
    -ms-grid-column: 2; }
    .AdminLayout-main {
    -ms-grid-row: 2;
    -ms-grid-column: 2; }
    .AdminLayout-aside {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1; } }
    @media screen and (max-width: 1024px) {
      .AdminLayout-aside {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 110;
        width: 100%; } }
    .AdminLayout-aside i {
      line-height: inherit; }
  @media screen and (max-width: 1024px) {
    .AdminLayout.AsideMenu-is-show .AdminLayout-aside {
      left: 0; } }

@media screen and (min-width: 1024px) {
  .SnAdminL1 {
    -ms-grid-columns: 220px 1fr;
    grid-template-columns: 220px 1fr; } }

@media screen and (min-width: 1024px) {
  .SnAdminL1.AsideMenu-is-show {
    -ms-grid-columns: 64px 1fr;
    grid-template-columns: 64px 1fr; } }

@media screen and (min-width: 1024px) {
  .SnAdminL2 {
    -ms-grid-columns: 64px 1fr;
    grid-template-columns: 64px 1fr; } }

@media screen and (min-width: 1024px) {
  .SnAdminL2.AsideMenu-is-show {
    -ms-grid-columns: 220px 1fr;
    grid-template-columns: 220px 1fr; } }

.SnContent {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media screen and (min-width: 1024px) {
    .SnContent {
      padding: 1rem; } }

.SnContentAside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  height: calc(100vh - 60px);
  padding: 1rem;
  grid-gap: 1rem; }
  @media screen and (min-width: 1024px) {
    .SnContentAside {
      -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr; } }

.AsideMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100vh - 88px);
  background: var(--snColorDarker);
  overflow-y: auto; }
  .AsideMenu-container {
    background: var(--snColorDarker);
    color: var(--snColorDarkInverse); }
  .AsideMenu li {
    position: relative; }
  .AsideMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--snColorDark); }
    .AsideMenu ul a {
      padding-left: 50px; }
  .AsideMenu-item,
  .AsideMenu a {
    color: var(--snColorDarkInverse);
    text-decoration: none;
    line-height: 3rem;
    padding: 0 8px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .AsideMenu-item [class*="icon-"],
    .AsideMenu a [class*="icon-"] {
      margin-right: 16px; }
    .AsideMenu-item > span,
    .AsideMenu a > span {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .AsideMenu-item:hover,
    .AsideMenu a:hover {
      background: var(--snColorDarkSmoother);
      color: white; }
    .AsideMenu-item .toggle,
    .AsideMenu a .toggle {
      margin: 0 0 0 8px; }

@media screen and (max-width: 1024px) {
  .AsideMenu-is-show .AsideMenu-wrapper {
    background: rgba(0, 0, 0, 0.5); }
  .AsideMenu-is-show .AsideMenu-container {
    width: 220px; } }

.AsideMenu-divider {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700; }

.AsideMenu ul {
  display: none; }
  .AsideMenu ul.is-show {
    display: block; }

@media screen and (min-width: 1024px) {
  .SnAdminL1.AsideMenu-is-show .AsideMenu {
    overflow-y: initial; }
    .SnAdminL1.AsideMenu-is-show .AsideMenu-divider {
      padding: 0;
      font-size: 0; }
    .SnAdminL1.AsideMenu-is-show .AsideMenu > li > a {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 0; }
      .SnAdminL1.AsideMenu-is-show .AsideMenu > li > a > span {
        position: absolute;
        left: 100%;
        top: 0;
        text-align: left;
        padding: 0 20px;
        width: 220px;
        background: var(--snColorDarkSmoother);
        display: none; }
      .SnAdminL1.AsideMenu-is-show .AsideMenu > li > a .toggle {
        display: none; }
      .SnAdminL1.AsideMenu-is-show .AsideMenu > li > a [class*="icon-"] {
        margin-right: 0; }
    .SnAdminL1.AsideMenu-is-show .AsideMenu li ul {
      position: absolute;
      top: 0;
      left: 100%;
      width: 220px;
      display: none; }
      .SnAdminL1.AsideMenu-is-show .AsideMenu li ul a {
        padding: 0 20px; }
    .SnAdminL1.AsideMenu-is-show .AsideMenu li:hover > ul {
      display: block; }
    .SnAdminL1.AsideMenu-is-show .AsideMenu li:hover > a span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .SnAdminL1.AsideMenu-is-show .AsideMenu li:hover > a {
      background: var(--snColorDarkSmoother);
      color: white; }
    .SnAdminL1.AsideMenu-is-show .AsideMenu > li > ul {
      top: 100%; } }

@media screen and (min-width: 1024px) {
  .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu {
    overflow-y: initial; }
    .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu-divider {
      padding: 0;
      font-size: 0; }
    .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu > li > a {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 0; }
      .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu > li > a > span {
        position: absolute;
        left: 100%;
        top: 0;
        text-align: left;
        padding: 0 20px;
        width: 220px;
        background: var(--snColorDarkSmoother);
        display: none; }
      .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu > li > a .toggle {
        display: none; }
      .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu > li > a [class*="icon-"] {
        margin-right: 0; }
    .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu li ul {
      position: absolute;
      top: 0;
      left: 100%;
      width: 220px;
      display: none; }
      .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu li ul a {
        padding: 0 20px; }
    .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu li:hover > ul {
      display: block; }
    .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu li:hover > a span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu li:hover > a {
      background: var(--snColorDarkSmoother);
      color: white; }
    .SnAdminL2:not(.AsideMenu-is-show) .AsideMenu > li > ul {
      top: 100%; } }

.AsideHeader {
  height: 56px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--snColorDark); }

.AsideFooter {
  height: 32px;
  padding: 0 14px 0 14px; }

.Branding {
  height: 100%; }
  .Branding-link {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--snColorDarkInverse);
    text-decoration: none; }
    .Branding-link img {
      max-width: 28px;
      margin-right: 16px; }
  .Branding-name {
    font-weight: 500; }

@media screen and (min-width: 1024px) {
  .SnAdminL1.AsideMenu-is-show .AsideHeader {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .SnAdminL1.AsideMenu-is-show .Branding-img {
    margin: 0; }
  .SnAdminL1.AsideMenu-is-show .Branding-name {
    display: none; } }

@media screen and (min-width: 1024px) {
  .SnAdminL2:not(.AsideMenu-is-show) .AsideHeader {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .SnAdminL2:not(.AsideMenu-is-show) .Branding-img {
    margin: 0; }
  .SnAdminL2:not(.AsideMenu-is-show) .Branding-name {
    display: none; } }

.icon-down::before {
  content: "\6b"; }

.icon-up::before {
  content: "\6e"; }

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: var(--snColorBgAlt);
  border-bottom: 1px solid var(--snColorBorder); }

#AsideMenu-toggle {
  padding: 0 16px;
  cursor: pointer; }
  #AsideMenu-toggle:hover {
    background: var(--snColorHover); }

@media print {
  .HeaderMenu {
    display: none; } }

@media screen and (min-width: 0) {
  .HeaderMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.HeaderMenu li ul {
  display: none; }

@media screen and (min-width: 0) {
  .HeaderMenu li {
    position: relative; } }

@media screen and (min-width: 0) {
  .HeaderMenu li ul {
    position: absolute;
    z-index: 400; } }

@media screen and (min-width: 0) {
  .HeaderMenu li:hover > ul {
    display: block; } }

@media screen and (min-width: 0) {
  .HeaderMenu > li > ul > li ul {
    right: 100%;
    top: 0; } }

.HeaderMenu .is-show {
  display: block; }

.HeaderMenu {
  list-style: none;
  padding: 0;
  margin: 0; }
  .HeaderMenu li ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.HeaderMenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .HeaderMenu a .toggle {
    display: block;
    padding: 0 8px; }

.HeaderMenu-toggle {
  cursor: pointer; }
  @media screen and (min-width: 0) {
    .HeaderMenu-toggle {
      display: none; } }
  @media print {
    .HeaderMenu-toggle {
      display: none; } }

.HeaderMenu {
  list-style: none;
  padding: 0;
  margin: 0; }
  .HeaderMenu li {
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer; }
    .HeaderMenu li:hover {
      background: var(--snColorHover); }
    .HeaderMenu li .Header-action {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 56px; }
      .HeaderMenu li .Header-action [class*="icon-"] {
        font-size: 1.2rem; }
    .HeaderMenu li.divider {
      border-bottom: 1px solid var(--snColorBorder); }
  .HeaderMenu a {
    text-decoration: none;
    line-height: 34px;
    height: 34px;
    display: block;
    white-space: nowrap; }
    .HeaderMenu a.is-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-right: 0; }
  .HeaderMenu li:hover > ul {
    max-height: 1000px;
    overflow: visible; }

.HeaderMenu-profile {
  text-transform: uppercase; }

.HeaderMenu-description {
  line-height: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }
  .HeaderMenu-description:hover {
    background: none; }

.HeaderMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .HeaderMenu a {
    color: var(--snColorText); }
    .HeaderMenu a:hover {
      color: var(--snColorText); }
  .HeaderMenu li ul {
    position: absolute;
    background: var(--snColorBgAlt);
    z-index: 100;
    -webkit-box-shadow: 0 2px 16px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 16px -2px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    min-width: 150px;
    right: 0; }

.User-item {
  text-decoration: none;
  color: var(--snColorText);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }
  .User-item .SnAvatar {
    margin-right: 16px; }

.User-description, .User-title {
  margin: 0; }

.User-description {
  color: var(--snColorTextAlt); }
