$headerHeight: 58px;
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeight;
    line-height: $headerHeight;
}

.Branding{
    &-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-logo{
        height: $headerHeight / 2;
        margin-right: 8px;
    }
    &-name{
        color: var(--snColor1);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        a:hover{
            color: var(--snColor1);
        }
    }
}

@import './PrimaryMenu';