@mixin SnThemeDarck {
    .#{$classPrefix}Theme-darck {
        --gray-13: #ffffff;
        --gray-12: #F6F8FF;
        --gray-11: #E1E6F9;
        --gray-10: #CDD2EC;
        --gray-9: #BBC1E1;

        --gray-8: hsl(209, 11%, 58.09%);
        --gray-7: hsl(209, 11%, 49.8%);
        --gray-6: hsl(209, 11%, 41.5%);
        --gray-5: hsl(209, 11%, 33.2%);
        --gray-4: hsl(209, 11%, 24.90%);
        --gray-3: #252627;
        --gray-2: #181A1B;
        --gray-1: #000000;

        --blue-10: #CCD5D9;
        --blue-9: #A3BECC;
        --blue-8: #7AA6BF;
        --blue-7: #568DB3;
        --blue-6: #3575A6;
        --blue-5: #185D9A;
        --blue-4: #0D4073;
        --blue-3: #05264D;
        --blue-2: #001126;
        --blue-1: #000000;
        --blue-i: #ffffff;

        --red-10: #FFF1F0;
        --red-9: #FFCCC7;
        --red-8: #FFA39E;
        --red-7: #FF7875;
        --red-6: #FF4D4F;
        --red-5: #F5222D;
        --red-4: #CF1322;
        --red-3: #A8071A;
        --red-2: #820014;
        --red-1: #5C0011;
        --red-i: #ffffff;

        --green-10: #E1EDD5;
        --green-9: #C1E0A6;
        --green-8: #A1D47B;
        --green-7: #82C754;
        --green-6: #63BA30;
        --green-5: #46AE12;
        --green-4: #2D8707;
        --green-3: #1A6100;
        --green-2: #0E3B00;
        --green-1: #041400;
        --green-i: #ffffff;

        --yellow-10: #FFFDE6;
        --yellow-9: #FFF4A3;
        --yellow-8: #FFEB7A;
        --yellow-7: #FFDF52;
        --yellow-6: #FFD129;
        --yellow-5: #FFBE01;
        --yellow-4: #D99B00;
        --yellow-3: #B37A00;
        --yellow-2: #8C5B00;
        --yellow-1: #663F00;
        --yellow-i: #3d2501;

        --magenta-10: #FFF0F6;
        --magenta-9: #FFD6E7;
        --magenta-8: #FFADD2;
        --magenta-7: #FF85C0;
        --magenta-6: #F759AB;
        --magenta-5: #EB2F96;
        --magenta-4: #C41D7F;
        --magenta-3: #9E1068;
        --magenta-2: #780650;
        --magenta-1: #520339;
        --magenta-i: #ffffff;

        --purple-10: #F9F0FF;
        --purple-9: #EFDBFF;
        --purple-8: #D3ADF7;
        --purple-7: #B37FEB;
        --purple-6: #9254DE;
        --purple-5: #722ED1;
        --purple-4: #531DAB;
        --purple-3: #391085;
        --purple-2: #22075E;
        --purple-1: #120338;
        --purple-i: #ffffff;

        --color1-1: var(--blue-1);
        --color1-2: var(--blue-2);
        --color1-3: var(--blue-3);
        --color1-4: var(--blue-4);
        --color1-5: var(--blue-5);
        --color1-6: var(--blue-6);
        --color1-7: var(--blue-7);
        --color1-8: var(--blue-8);
        --color1-9: var(--blue-9);
        --color1-10: var(--blue-10);
        --color1-i: var(--blue-i);

        --color2-1: var(--yellow-1);
        --color2-2: var(--yellow-2);
        --color2-3: var(--yellow-3);
        --color2-4: var(--yellow-4);
        --color2-5: var(--yellow-5);
        --color2-6: var(--yellow-6);
        --color2-7: var(--yellow-7);
        --color2-8: var(--yellow-8);
        --color2-9: var(--yellow-9);
        --color2-10: var(--yellow-10);
        --color2-i: var(--yellow-i);

        // Global
        --text-color: var(--gray-9);
        --text-color-alt: var(--gray-7);

        --border-color: var(--gray-4);
        --hover-background: hsla(0, 0%, 0%, 0.051);

        // Elevations
        // Overlays

        // Panels
        --panel-background: var(--gray-2);
        --panel-background-alt: var(--gray-3);

        // Controls
        --control-active: var(--color1-5);
        --control-active-inner: var(--gray-2);
        --control-focus-shadow: 2px rgba(24, 93, 154, .3);
        --control-border: var(--gray-5);
        --control-border-hover: var(--color1-6);
        --control-background: var(--gray-2);
        --control-disabled: var(--gray-2);
        --control-disabled-inner: var(--gray-3);
        --control-placeholder-color: var(--text-color-alt);

        --control-focus-shadow-primary: 2px rgba(24, 93, 154, .3);
        --control-focus-shadow-danger: 2px rgba(245, 34, 45, .3);
        --control-focus-shadow-success: 2px rgba(70, 174, 18, .3);
        --control-focus-shadow-warning: 2px rgba(255, 190, 1, .3);
    }
}