@mixin SnAlert {
    .#{$classPrefix}Alert{
        margin: 0;
        color: rgba(0,0,0,0.65);
        line-height: 1.5;
        list-style: none;
        position: relative;
        padding: 8px 15px;
        border-radius: 4px;
    
        &.success{
            background-color: #f6ffed;
            border: 1px solid #b7eb8f;
        }
        &.info{
            background-color: #e6f7ff;
            border: 1px solid #91d5ff;
        }
        &.warning{
            background-color: #fffbe6;
            border: 1px solid #ffe58f;
        }
        &.error{
            background-color: #fff1f0;
            border: 1px solid #ffa39e;
        }
    }
}