extends ../../config/template
append config
    -title = "Examples"
    -description = "Examples."
    -ogUrl = "/index.html"
    -template = 1

block main
    .SnContainer
        section.SnMb-16
            h1= title
            p= description
            .SnGrid.m-grid-2.l-grid-3.lg-grid-4
                a(href="/" target="_blanck").SnCard.hoverable
                    img(src="/assets/images/banner.jpg", alt="")
                    .SnCard-body
                        h2.SnCard-title Sedna website
                        p.SnCard-description current website
                a(href="/" target="_blanck").SnCard.hoverable
                    img(src="/assets/images/banner.jpg", alt="")
                    .SnCard-body
                        h2.SnCard-title Web site
                        p.SnCard-description web site
                a(href="/" target="_blanck").SnCard.hoverable
                    img(src="/assets/images/banner.jpg", alt="")
                    .SnCard-body
                        h2.SnCard-title Admin chat
                        p.SnCard-description chat messenger
                a(href="/" target="_blanck").SnCard.hoverable
                    img(src="/assets/images/banner.jpg", alt="")
                    .SnCard-body
                        h2.SnCard-title Admin dashboard
                        p.SnCard-description simple dashboard