@import "../../bin/sedna.scss";
@import "_postConfig";

@import "../prism/prism.scss";

@import "base";
@import "./Header/index";
@import "./Components/CodeBox";

.Site {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &-footer {
    margin-top: auto;
    font-size: 0.7rem;
    text-align: center;
    opacity: .4;
    // color: var(--snColorDarkInverse);
    // background: var(--snColorDark);
  }
}

@import "Main";
@import "AsideMenu";
@import "Docs";

@import "Home/HomeBanner";
@import "Home/HomeIntro";
@import "Home/HomeSocial";

@import "SiteTitle";