@import "../../bin/sedna.scss";
@import "_postConfig";

@import "../prism/prism.scss";

@import "base";
@import "./Header/index";
@import "./Components/CodeBox";

.Site {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: auto;
    text-align: center;
    background: var(--snColorBorder);
  }
}

@import "Main";
@import "AsideMenu";
@import "Docs";

@import "Home/HomeBanner";
@import "Home/HomeIntro";
@import "Home/HomeSocial";

@import "SiteTitle";