body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

[class*="icon-"]::before{
  position: relative;
  top: 4px;
}

code{
  background: var(--snColorHover);
  border-radius: 4px;
  margin: 0 .2rem;
  padding: 0 .2rem;
}