.Main{
    $asideWidth: 220px;
    $gridGap: 16px;
    @include from(l){
        display: grid;
        grid-gap: $gridGap;
        @include from(l){
            grid-template-columns: $asideWidth calc(100vw - #{$asideWidth + $gridGap + 50});
        }
        @include from($maxWidth){
            grid-template-columns: $asideWidth calc(100vw - (100vw - #{$maxWidth - ($asideWidth + $gridGap)}));
        }
    }
    padding-top: 24px;
    padding-bottom: 24px;
    &-sidebar{
        @include from(l){
            // padding: 1rem;
            // background: var(--snColorBgAlt);
            // border-right: 1px solid var(--snColorBorder);
        }
    }
    &-content{
        @include from(l){
            // padding: 1rem;
            // background: var(--snColorBgAlt);
        }
    }
}