extends ../../config/template
append config
    -title = "Ui"
    -description = "Ui."
    -ogUrl = "/index.html"
    -template = 1

block main
    .SnContainer
        section.SnMb-16
            h1= title
            p= description