@charset "UTF-8";

@font-face {
  font-family: "sedna";
  src:url("fonts/sedna.eot");
  src:url("fonts/sedna.eot?#iefix") format("embedded-opentype"),
    url("fonts/sedna.woff") format("woff"),
    url("fonts/sedna.ttf") format("truetype"),
    url("fonts/sedna.svg#sedna") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sedna" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sedna" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codepen:before {
  content: "\61";
}
.icon-clipboard:before {
  content: "\62";
}
.icon-code:before {
  content: "\63";
}
.icon-menu:before {
  content: "\64";
}
.icon-facebook:before {
  content: "\65";
}
.icon-twitter:before {
  content: "\66";
}
.icon-youtube:before {
  content: "\67";
}
.icon-left-open:before {
  content: "\68";
}
.icon-right-open:before {
  content: "\69";
}
